.Rhistory
.Rproj.user/*
data/keys/*
data/QueryData/*
data/backups/*
data/dataset/GoogleCloudFiles.csv
data/dataset/Routes.csv
data/dataset/Step.csv
data/dataset/geocoded_waypoints.csv
data/temp/*
src/CloudManagement.R
